<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="mongotest" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />-->
    <add key="mongotest" value="mongodb://172.16.100.106:30000,172.16.100.105:30000/?replicaSet=messagebus&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <add key="MQBusServerHost" value="http://api.mq.ymatou.com:2345/" />
    <add key="mqcfgserverhost" value="http://192.168.1.247:999/" />
    <add key="UserServiceRequestTimeOut" value="5000" />
<!--    <add key="MQConfigurationMongoUrl" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />-->
<!--    <add key="mongotest" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />-->
<!--    <add key="RetryMessageMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />-->
<!--    <add key="MQConfigurationMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1&amp;maxPoolSize=20" />-->
<!--    <add key="AlarmMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1&amp;maxPoolSize=20" />-->


<!--    <add key="mongotest" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />-->
<!--    <add key="RetryMessageMongoUrl" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />-->
<!--    <add key="MQConfigurationMongoUrl" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1&amp;maxPoolSize=20" />-->

    <add key="mongotest" value="mongodb://172.16.101.169:27017,172.16.101.170:27017/?replicaSet=set5&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
       <add key="RetryMessageMongoUrl" value="mongodb://172.16.101.169:27017,172.16.101.170:27017/?replicaSet=set5&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
       <add key="MQConfigurationMongoUrl" value="mongodb://172.16.101.169:27017,172.16.101.170:27017/?replicaSet=set5&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1&amp;maxPoolSize=20" />
    <add key="MessageBusType" value="secondary" />
    <add key="scan_time" value="1:15:00:00,3600,1000"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>