<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>YmatouMQ server V1.0</h1>
            </hgroup>

        </div>
    </section>

</div>

<script type="text/javascript" src="http://mqdemo.ymatou.com/script/jquery-2.1.4.min.js"></script>
@*<script type="text/javascript">
    setInterval($.get("http://mqdemo.ymatou.com/ShowConsumeLog/", function (data)
    {
        $("#info").html(data);
    }), 3000);
</script>*@

<div id="info">

</div>
