<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--test-->
    <add key="mongotest" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <add key="RetryMessageMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <add key="MQConfigurationMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1&amp;maxPoolSize=20" />
    <!--产线-->
<!--    <add key="handleAssemblyName" value="YmatouMQ.MessageScheduler.MessageHandlerScheduler,YmatouMQ.MessageScheduler" />-->
<!--    <add key="mongotest" value="${mongo_test_url}$" />-->
<!--    <add key="RetryMessageMongoUrl" value="${retry_message_mongo_url}$" />-->
<!--    <add key="MQConfigurationMongoUrl" value="${ymt_mq_consume_mq_configuration_mongo_url}$" />-->
    <!--包含补单的DB：规则，MQ_Message_应用ID_当前年月，MQ_Message_trading_201606-->
    <add key="Include_db" value="MQ_Message_trading_201605,MQ_Message_coupon_201605"/>  
    <!--排除不补单的表，没有则为空-->
    <add key="exclude_table" value="Message_trading_ordersync,Message_trading_sellerrefund"/>
    <!--扫描时间-->
    <add key ="scan_time" value="2016-05-05 10:00:00,2016-05-05 23:59:59"/>
  </appSettings>
</configuration>