<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--<add key="mongotest" value="mongodb://messagebus.mongodb.ymatou.com:27019/?authSource=MQ_Message&amp;connectTimeoutMS=300000&amp;w=1" />
  <add key ="RetryMessageMongoUrl" value ="mongodb://messagebus.mongodb.ymatou.com:27019/?authSource=MQ_Message&amp;connectTimeoutMS=300000&amp;w=1"/>
  <add key ="MQConfigurationMongoUrl" value ="mongodb://messagebus.mongodb.ymatou.com:27019/?authSource=MQ_Message&amp;connectTimeoutMS=300000&amp;w=1"/>-->
  <add key="mongotest" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
  <add key="RetryMessageMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
  <add key="MQConfigurationMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
  <add key ="AlarmMongoUrl" value="mongodb://set3a.mongodb.ymatou.com:27017,set3b.mongodb.ymatou.com:27017/?replicaSet=set1&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
  <add key="ContextTypeArray" value="未设置,application/json"/>
  <add key="ContentEncodingArray" value="未设置,UTF-8"/>
  <add key="httpType" value="未设置,POST"/>
  <add key="RetryCount" value="-1,1,2,3"/>
  <add key="RetryMillisecond" value="-1,500,1000,2000"/>
  <add key="buffer" value="-1,0,1,2,3,4,5,6,7,8,9"/>
  <add key="IsRetry" value="-1,0,1"/>
  <add key="DomainConnectionPool" value="1,2,3,4,5"/>
  <add key="IsDisplayDictionaryControl" value="false"/>
  <add key ="MQBusServerHost" value="http://api.mq.ymatou.com:2345/"/>
  <add key="MQConfigurationDB" value="MQ_Configuration_201505"/>
  <add key ="MQAppDomainTable" value="MQ_Appdomain_Cfg"/>
  <add key ="MQDefaultTable" value="MQ_Default_Cfg"/>
  <add key="MQAppCfgTable" value="MQ_App_Cfg"/>
    <add key ="path" value ="message/publish"/>
  <!--Index|AppIndex|CreateApp|AppdomainList|CreateCode|UserList-->
  <add key="RoleMap" value="Index:编辑默认配置|AppCodeList:消息属性列表|CreateApp:增加AppId|CreateCode:增加Code|AppDefault:编辑具体配置|CallBackIndex:编辑回调配置|AppdomainList:队列状态管理|MessageStatusSearch:处理消息日志|RetryMessage:补单日志查询|TestMessage:测试发送消息|UserList:管理员权限列表|AppGlobal:编辑消息JSON|EditAppQueueStatusJson:编辑队列JSON|AddCallbackUrl:增加回调URL|AlarmManager:异常预警管理"/>
  
  <add key="AppId" value="mq.admin.ymatou.com" />
  <add key="PerfMonApiUrl" value="http://172.16.100.13:8089/api/perfmon" />
  <!--log-->
  <add key="AlarmCenterHost" value="http://alarm.alpha.ymatou.com/Alarm/SaveSingle" />
</appSettings>