{
"default_primarybushost": "http://api.mq.ymatou.com:2345",
"default_secondaryhost":"http://api.mq.secondary.ymatou.com:1234/",
"default_busHttpConnectionLimit": 500,
"default_publishtimeout": 5000,
"default_publishasync": true,
"default_requestpath": "/message/publish",
"default_journalpath":"d:\\logfiles\\messagebus.journal\\messagebus.journal",
"default_journalsize":30,
"default_journalbuffersize":1024,
"default_journalenable":true,
"default_messagesendlogpath":"d:\\logfiles\\messagebus.journal\\messagebus.log",
"default_messagesendlogsize":10,
"default_messagesendlogbuffersize":1024
}