<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.5.3" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.34" targetFramework="net40" />
  <package id="Ymatou.Log" version="1.1.0.2" targetFramework="net45" />
  <package id="Ymatou.MonitorClient" version="1.0.4.20222" targetFramework="net45" />
</packages>