<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--local-->
    <add key ="MQBusServerHost" value="http://api.mq.ymatou.com:234/"/>
    <!--<add key ="path" value ="/bus/Message/publish"/>-->
    <add key ="path" value ="message/publish"/>
    <!--alpha test-->
    <!--<add key="mqserver" value="http://192.168.1.247:888/bus/Message/"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name ="s" path="ShowConsumeLog" verb="*" type ="YmqtouMQConsumeDemo.Web.ShowConsumeLog,YmqtouMQConsumeDemo.Web"/>
      <add name ="c" path ="OrderHandle" verb ="*" type="YmqtouMQConsumeDemo.Web.OrderHandle,YmqtouMQConsumeDemo.Web"/>
      <add name ="e" path="PublishMessage" verb ="*" type ="YmqtouMQConsumeDemo.Web.PublishMessage,YmqtouMQConsumeDemo.Web"/>
      <add name ="p" path="PublishMessageTest" verb ="*" type ="YmqtouMQConsumeDemo.Web.PublishMessageTest,YmqtouMQConsumeDemo.Web"/>
    </handlers>
  </system.webServer>
</configuration>
