@{
    ViewBag.Title = "AppGlobal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("EditCurrentApp", "AdminMQ", FormMethod.Post, new { @class = "form-inline" }))
    {
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">编辑消息配置JSON</legend>

            <div id="form" class="form-group">
                <label for="AppId">AppID</label>
                <select id="appId" name="appId" class="selectpicker form-control" data-style="btn-primary">
                    <option value="default">请选择应用ID</option>
                    @foreach (var v in TempData["AppList"] as List<string>)
                    {
                        <option value="@v">@v</option>
                    }
                </select>

                <input type="submit" value="编辑" class="btn btn-primary" />
            </div>
            <p></p>
        </fieldset>
    }
</div>

