<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <add key="handleAssemblyName" value="YmatouMQ.MessageScheduler.MessageHandlerScheduler,YmatouMQ.MessageScheduler" />

    <add key="mqcfgserverhost" value="http://192.168.1.247:999/" />
    <add key="mongotest" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <add key="RetryMessageMongoUrl" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <!--_all-->
    <add key="domainname" value="_all" />
    <add key="MainCfgTimestamp" value="60000" />
    <add key="appDomainCfgFulshTime" value="62000" />
    <add key="AppId" value="mqconsume.secondary.service.ymatou.com" />
    <add key="PerfMonApiUrl" value="http://172.16.100.13:8089/api/perfmon" />
    <add key="AlarmCenterHost" value="http://alarm.ymatou.com/Alarm/SaveSingle" />
    <!--secondary or primary-->
    <add key="conn_url_sub_requestpath" value="api2/mqconn/subdomian/primarysecondary/cfg/" />
    <add key="conn_url_pub_requestpath" value="api2/mqconn/pubdomian/primarysecondary/cfg/" />
    
    <add key="EnableMultipleDomain" value="0" />
    <add key="EnableHttpSyncConfiguration" value="0" />
    <!--<add key ="MessageBusType" value ="secondary"/>-->
    <add key="MessageStatus_Batch_Timer" value="0" />
    <add key="MessageStatus_Batch_Size" value="1000" />
    <add key="MessageSutatus_MemoryQueue_Size" value="100000" />
    <add key="MessageSutatus_Send_TimeOut" value="5000" />
    <add key="ReptryMessage_Batch_Timer" value="0" />
    <add key="ReptryMessage_Batch_Size" value="1000" />
    <add key="ReptryMessage_MemoryQueue_Size" value="100000" />
    <add key="ReptryMessage_Send_TimeOut" value="5000" />
    <add key="PubMessage_WriteMongodbTimeOut_Seconds" value="3" />
    <add key="SubMessage_WriteMongodbTimeOut_Seconds" value="3" />
    <!--是否启用心跳-->
    <add key="HealthCheck" value="1"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>