<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mqcfgserverhost" value="http://192.168.1.247:999/" />
    <add key="mongotest" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <add key="RetryMessageMongoUrl" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
    <add key="MQConfigurationMongoUrl" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MQ_Message&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />

    <add key="mqadmin" value="http://mqadmin.ymatou.com/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>